#p4 {
    color: white;
}
#h6 {
    color: #767676;
}
#p3 {
    color:white ;
}
h6 {
    color: #767676;
}
#h5 {
    color: #767676;
}
#p2 {
    color: white;
}
#h4 {
    color: #767676;
}
#p1 {
    color: white;
}
h2 {
    color: #767676;
}
h4 {
    color: #767676;
}